@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --fontBlack: #333333;
  --fontWhite: #f2f2f2;
  --fontGray: #828282;
  --fontGray2: #4f4f4f;

  --homeColor: #f5d5b5;
  --liteColor: #dce7c1;
  --avanColor: #d5d0dc;

  --whiteBG: #F3EDE5;

  --orderBtnColor: #f08d46;
  --orderBtnDisactive: #cdcdcd;

  --promocodeBg: #44444410;
  --promoPicBg__enter: #f08d46;
  --promoPicBg__ok: #b0cb6c;
  --promoPicBg__bad: #df5951;

  --animation-time: 0.4s;
  --animation-time-short: 0.2s;
}

p {
  margin: 0;
}

/* main */
.configurator {
  width: max-content;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  user-select: none;
}
.configurator a {
  text-decoration: underline !important;
}
.content {
  display: grid;
  grid-template-rows: 61px 670px auto;
  grid-template-columns: 660px 500px;
  grid-template-areas:
    "tabs ."
    "left right"
    ". right";
  color: var(--fontBlack);
  font-size: 18px;
}
[data-tab="home"] {
  --lighterColor: #fff7ec;
  --mainColor: #f5d5b5;
  --darkerColor: #f9e1c3;
  --darkColor: #f08d46;
  --nutritionColor: #ebae70;
}
[data-tab="lite"] {
  --lighterColor: #f0f4e5;
  --mainColor: #dce7c1;
  --darkerColor: #c5d699;
  --darkColor: #b0cb6c;
  --nutritionColor: #bad084;
}
[data-tab="avan"] {
  --lighterColor: #f2f2f2;
  --mainColor: #d5d0dc;
  --darkerColor: #aca7b5;
  --darkColor: #8d839c;
  --nutritionColor: #9791a0;
}
[data-mobile-safari="true"] .pics__container::before,
[data-mobile-safari="true"] .pics__container::after {
  opacity: 0 !important;
}

/* segments */
.tabs {
  grid-area: tabs;
  display: flex;
  align-items: flex-end;
  height: 61px;
}
.left {
  background-color: var(--mainColor);
  grid-area: left;
  border-bottom-left-radius: 15px;
  padding: 41px 48px 18px 48px;
  transition: background-color var(--animation-time-short) ease;
}
.right {
  background-color: var(--lighterColor);
  grid-area: right;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 63px 51px 64px 51px;
  transition: background-color var(--animation-time-short) ease;
}

/* tabs */
.tab {
  width: 220px;
  height: 90%;
  border-radius: 15px 15px 0 0;
  display: grid;
  place-items: center;
  color: white;
  font-size: 24px;
  transition: height var(--animation-time) ease;
  cursor: pointer;
}
.tab.active {
  height: 100%;
  font-weight: bold;
}
.tabHome {
  background-color: var(--homeColor);
}
.tabLite {
  background-color: var(--liteColor);
}
.tabAvan {
  background-color: var(--avanColor);
}

/* left */
.tagline {
  display: flex;
  margin-bottom: 34px;
  align-items: center;
}
.tagline .taglinePic {
  margin-right: 12px;
  height: 30px;
}
.tagline p {
  color: var(--darkColor);
  font-size: 22px;
  font-weight: bold;
  user-select: auto;
  margin: 0;
}
.leftContent {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "first"
    "second"
    "third";
}
.numDishes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}
.dish {
  position: relative;
  width: 100%;
  height: 51px;
  background-color: var(--lighterColor);
  border-radius: 15px;
  display: grid;
  place-items: center;
  text-align: center;
  line-height: 0.9em;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 9px;
  transition: background-color var(--animation-time-short), color var(--animation-time-short);
}
.dish:last-child {
  margin-right: 0;
}
.noMargin {
  margin-right: 0;
}
.dish.active {
  background-color: var(--darkColor);
  color: var(--fontWhite);
}
.dish.hit::after {
  content: "HIT";
  position: absolute;
  top: 0;
  right: 13px;
  width: 48px;
  height: 26px;
  transform: translateY(-50%);
  border-radius: 13px;
  color: var(--fontWhite);
  font-size: 14px;
  background-color: var(--darkColor);
  display: grid;
  place-items: center;
  transition: background-color var(--animation-time-short), color var(--animation-time-short);
}
.dish.active.hit::after {
  background-color: var(--lighterColor);
  color: var(--fontBlack);
}
.dessert {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--darkColor);
  border-radius: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
.dessert p {
  margin-right: 10px;
  color: var(--darkColor);
}
.dessert .dessert__plus {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--whiteBG);
  transition: var(--animation-time-short);
}
.dessert.added .dessert__plus {
  transform: rotate(45deg);
}
.dessert .dessert__plus path {
  stroke: var(--darkColor);
}
.menuSampleCont {
  display: grid;
  place-items: center baseline;
  grid-template-columns: 50% 50%;
  grid-template-rows: 35px 1fr;
  grid-template-areas:
    "text button"
    "pics pics";
  margin-bottom: 21px;
}
.menuSampleCont .menuSampleText {
  grid-area: text;
}
.menuSampleCont .daySwitch {
  grid-area: button;
}
.menuSampleCont .pics__container {
  grid-area: pics;
}
.nutrition {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: auto;
}
.daySwitch {
  place-self: end;
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
.daySwitch .button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--animation-time-short);
}
.daySwitch .button path {
  stroke: var(--darkColor);
}
.daySwitch .prev {
  transform: rotate(180deg);
}
.daySwitch .day-short {
  display: none;
}
.pics__container {
  width: 100%;
  position: relative;
}
.pics__container::before,
.pics__container::after {
  content: "";
  z-index: 1;
  pointer-events: none;
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: var(--animation-time);
}
.pics__container::before {
  left: -15px;
  background: linear-gradient(to right, var(--mainColor) 30%, rgba(0, 0, 0, 0) 100%);
}
.pics__container::after {
  right: -15px;
  background: linear-gradient(to left, var(--mainColor) 30%, rgba(0, 0, 0, 0) 100%);
}
.pics__container.onLeft::before {
  opacity: 0;
}
.pics__container.onRight::after {
  opacity: 0;
}
.pics__container > div {
  overflow-x: hidden;
}
.dishExampleArrow {
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--whiteBG);
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: background-color var(--animation-time-short), opacity var(--animation-time-short);
}
.dishExampleArrow.hidden {
  opacity: 0;
  pointer-events: none;
}
.dishExampleArrow path {
  stroke: var(--darkColor);
}
.dishExampleArrow-left {
  transform: translate(-25%, -25%) rotate(180deg);
}
.dishExampleArrow-right {
  right: 0;
  transform: translate(25%, -25%);
}
.pics__loader {
  width: 100%;
  height: 185px;
  display: grid;
  place-items: center;
}
.pics__loader svg {
  animation: loader-spin 1s linear infinite forwards;
}
@keyframes loader-spin {
  from { transform: rotate(0) }
  to { transform: rotate(360deg) }
}
.pics {
  display: flex;
  padding-top: 20px;
  box-sizing: border-box;
  cursor: grab;
}
.pics.smooth {
  transition: transform var(--animation-time) ease;
}
.pics:not(.smooth):active {
  cursor: grabbing;
}
.pic {
  min-width: 213px;
  height: 160px;
  user-select: none;
  pointer-events: none;
}
.dishPicCont {
  position: relative;
  margin-right: 6px;
}
.dishPicCont:last-child {
  margin-right: 0;
}
.dishPopup__icon {
  position: absolute;
  top: 22px;
  right: 22px;
  cursor: pointer;
}
.dishPopup {
  position: absolute;
  top: 20%;
  left: 10%;
  max-width: 190px;
  background-color: white;
  border-radius: 10px;
  padding: 19px 16px;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
  transition: opacity 0.4s;
  z-index: 99;
}
.dishPopup__title {
  color: var(--fontBlack);
  margin-bottom: 12px;
}
.dishPopup__weight,
.dishPopup__ing {
  color: var(--fontBlack);
  margin-bottom: 5px;
  color: var(--orderBtnColor);
}
.dishPopup__weight {
  margin-bottom: 5px;
}
.dishPopup__weightValue,
.dishPopup__ingValue {
  color: var(--fontGray2);
  font-weight: 400;
}
.dishPopup.hidden {
  opacity: 0;
  pointer-events: none;
}
.nutrition {
  background-color: var(--nutritionColor);
  padding: 9px 18px;
}
.menuLink {
  display: block;
  width: 100%;
  font-size: 14px;
  color: var(--fontBlack) !important;
  margin-top: 15px;
  text-align: center;
}

/* right */
.question {
  color: var(--fontGray2);
  margin-bottom: 21px;
}
.days,
.numDaysSelect {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.day,
.numDays {
  width: 100%;
  height: 48px;
  border-radius: 15px;
  background-color: var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color var(--animation-time-short) ease, color var(--animation-time-short) ease;
}
.day:first-child,
.numDays:first-child {
  margin-right: 9px;
}
.numDay {
  margin-right: 0.3em;
  font-weight: bold;
}
.dayPrice {
  font-weight: normal;
  color: var(--darkColor);
}
.day.active,
.numDays.active {
  background-color: var(--darkColor);
  color: var(--fontWhite);
}
.numDays.active .numDay {
  color: var(--fontWhite);
  font-weight: bolder;
}
.numDays.active .dayPrice {
  color: var(--fontWhite);
}
.price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.priseResults {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.totalPrice {
  font-size: 24px;
  font-weight: 500;
  color: var(--fontGray2);
  margin-bottom: 3px;
}
.yourProfit {
  text-align: end;
  color: var(--orderBtnColor);
  font-size: 14px;
}
.line {
  width: 100%;
  height: 1px;
  background-color: var(--darkColor);
  margin-bottom: 25px;
}
.payment {
  display: flex;
  margin-bottom: 32px;
}
.paymentMethod {
  position: relative;
  display: flex;
  padding-left: 40px;
  cursor: pointer;
}
.paymentMethod:first-child {
  margin-right: 40px;
}
.paymentMethod::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--mainColor);
}
.paymentMethod::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(4px, 4px);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--darkColor);
  opacity: 0;
  transition: var(--animation-time-short);
}
.paymentMethod.checked::after {
  opacity: 1;
}
/* checkout */
.phone,
.promocode {
  width: 100%;
  height: 45px;
  background-color: white;
  color: var(--fontGray);
  border: none;
  padding: 16px 40px;
  box-sizing: border-box;
  margin-bottom: 29px;
  font-size: 18px;
}
.promo {
  position: relative;
  margin-bottom: 15px;
}
.promocode {
  background-color: var(--promocodeBg);
  border-radius: 15px;
  margin: 0;
}
.promo__pic {
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  width: 45px;
  display: grid;
  place-items: center;
  border-radius: 15px;
  cursor: pointer;
}
.promo.enter .promo__pic {
  background-color: var(--promoPicBg__enter);
}
.promo.ok .promo__pic {
  background-color: var(--promoPicBg__ok);
}
.promo.bad .promo__pic {
  background-color: var(--promoPicBg__bad);
}
.promo__status {
  margin-top: 8px;
  font-size: 12px;
  text-align: center;
  color: var(--promoPicBg__ok);
}
.promo.enter .promo__status:empty {
  opacity: 0;
}
.promo.ok .promo__status {
  color: var(--promoPicBg__ok);
}
.promo.bad .promo__status {
  color: var(--promoPicBg__bad);
}
.pre-cart {
  font-size: 13px;
  width: 100%;
}
.pre-cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 7px 0;
  word-break: keep-all;
}
.pre-cart__item .cross {
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: var(--animation-time-short);
}
.pre-cart__add {
  display: flex;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 22px;
  cursor: pointer;
}
.pre-cart__add .plus {
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--darkColor);
  margin-right: 10px;
  transition: var(--animation-time-short);
}
.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button button {
  width: 188px;
  height: 58px;
  background-color: var(--orderBtnDisactive);
  transition: background-color 0.4s ease;
  color: var(--fontWhite);
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  box-sizing: border-box;
  cursor: auto;
  pointer-events: none;
}
.button button.active {
  background-color: var(--orderBtnColor);
  cursor: pointer;
  pointer-events: auto;
}
.confidential {
  color: var(--fontGray);
  font-size: 14px;
  font-weight: lighter;
  width: 195px;
  margin: 0;
}
.confidential a {
  color: var(--fontGray) !important;
}

@media screen and (min-width: 1200px) {
  .dish:not(.active):hover {
    background-color: var(--darkerColor);
  }
  .daySwitch .button:hover {
    background-color: var(--darkerColor);
  }
  .dessert:hover .dessert__plus {
    background-color: var(--darkColor);
  }
  .dessert:hover .dessert__plus path {
    stroke: var(--fontWhite);
  }
  .dishExampleArrow:hover {
    background-color: var(--darkerColor);
  }
  .pre-cart__item .cross:hover {
    background-color: var(--darkerColor);
  }
  .pre-cart__add:hover .plus {
    background-color: var(--darkerColor);
  }
  .pre-cart__add:hover .plus path {
    stroke: var(--darkColor);
  }
}

@media screen and (max-width: 1200px) {
  .content {
    grid-template-rows: 61px 685px;
    grid-template-columns: 540px 400px;
  }
  .left,
  .right {
    padding-left: 45px;
    padding-right: 45px;
  }
  .right {
    background-color: var(--lighterColor);
    grid-area: right;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 43px 60px 0 42px;
  }
  .tagline {
    margin-bottom: 36px;
  }
  .tagline p {
    font-size: 18px;
    transform: translateY(3px);
  }
  .tagline .taglinePic {
    margin-right: 18px;
  }
  .tagline svg {
    width: 30px;
    height: 30px;
  }
  .tab {
    font-size: 20px;
  }
  .numDishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 21px;
  }
  .dish {
    width: 214px;
    height: 60px;
    padding: 0;
    margin: 0;
  }
  .dish:first-child {
    margin-right: 17px;
    margin-bottom: 21px;
  }
  .dessert {
    margin-bottom: 44px;
  }
  .content[data-active-tab="lite"] .dish:first-child {
    margin-bottom: 0;
  }
  .daySwitch {
    width: 120px;
  }
  .daySwitch .day-full {
    display: none;
  }
  .daySwitch .day-short {
    display: block;
  }
  .menuSampleCont {
    grid-template-rows: 35px 1fr;
    margin-bottom: 36px;
  }
  .pics {
    grid-template-rows: repeat(2, 101px);
    grid-gap: 21px 21px;
    padding-top: 16px;
  }
  .dishPopup__icon {
    opacity: 1;
  }
  .days {
    margin-bottom: 32px;
  }
  .numDaysSelect {
    margin-bottom: 26px;
  }
  .price {
    margin-bottom: 21px;
  }
  .payment {
    flex-flow: column;
    margin-bottom: 34px;
  }
  .paymentMethod:first-child {
    margin-bottom: 15px;
  }
  .phone {
    margin-bottom: 26px;
  }
  .button {
    flex-flow: column;
    align-items: flex-start;
  }
  .confidential {
    width: 230px;
    margin: 14px 0;
  }
}

@media screen and (max-width: 960px) {
  .content {
    grid-template-rows: 61px 1fr auto;
    grid-template-columns: 620px;
    grid-template-areas:
      "tabs"
      "left"
      "right";
  }
  .left {
    border-bottom-left-radius: 0;
    height: max-content;
    padding: 36px 45px 0 45px;
  }
  .right {
    background-color: var(--mainColor);
    padding: 41px 45px 54px 45px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
  }
  .tagline {
    margin-bottom: 31px;
  }
  .numDishes {
    margin-top: 32px;
    margin-bottom: 0;
    grid-area: third;
    flex-wrap: nowrap;
  } 
  .daySwitch .button {
    width: 28px;
    height: 28px;
  }
  .dish {
    height: 47px;
    width: 127 px;
    margin-right: 7px;
    margin-bottom: 22px;
  }
  .dish:first-child {
    margin-right: 7px;
    margin-bottom: 22px;
  }
  .dessert {
    height: 51px;
    margin-bottom: 0;
  }
  .dessert p {
    font-size: 16px;
  }
  .menuSampleCont {
    grid-template-rows: 35px 1fr;
    margin-bottom: 21px;
    grid-area: first;
  }
  .pics {
    grid-template-rows: 122px;
    grid-gap: 20px 18px;
  }
  .nutritionAndLink {
    grid-area: second;
  }
  .menuLink {
    margin-top: 15px;
  }
  .day,
  .numDays {
    background-color: var(--lighterColor);
  }
  .day:first-child,
  .numDays:first-child {
    margin-right: 7px;
  }
  .price {
    margin-bottom: 31px;
  }
  .payment {
    flex-flow: row;
  }
  .paymentMethod:first-child {
    margin-right: 100px;
  }
  .paymentMethod::before {
    background-color: var(--lighterColor);
  }
  .phone {
    margin-bottom: 35px;
  }
  .button {
    flex-flow: row;
    align-items: center;
  }
  .button button {
    width: 250px;
    height: 60px;
  }
}

@media screen and (max-width: 640px) {
  .content {
    grid-template-rows: 52px 1fr auto;
    grid-template-columns: 460px;
  }
  .left,
  .right {
    padding-left: 28px;
    padding-right: 28px;
  }
  .left {
    padding-top: 30px;
  }
  .right {
    padding-bottom: 48px;
    padding-top: 32px;
  }
  .tabs {
    height: 52px;
  }
  .tab {
    font-size: 18px;
  }
  .tagline {
    margin-bottom: 24px;
  }
  .tagline p {
    font-size: 16px;
  }
  .dish:first-child {
    margin-right: 21px;
  }
  .numDishes {
    flex-wrap: wrap;
    margin-bottom: 22px;
  }
  .dish {
    width: 190px;
    height: 54px;
    margin: 0;
  }
  .dish:first-child {
    margin-right: 21px;
    margin-bottom: 20px;
  }
  .menuSampleCont {
    grid-template-rows: 35px 1fr;
    margin-bottom: 26px;
  }
  .pics {
    grid-template-rows: 95px;
    grid-gap: 16px 14px;
    padding-top: 22px;
  }
  .nutrition {
    font-size: 16px;
  }
  .menuLink {
    margin-top: 15px;
  }
  .day:first-child,
  .numDays:first-child {
    margin-right: 22px;
  }
  .price {
    margin-bottom: 21px;
  }
  .paymentMethod:first-child {
    margin-right: 36px;
  }
  .phone {
    margin-bottom: 32px;
  }
  .button {
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }
  .button button {
    width: 190px;
  }
  .confidential {
    width: 100%;
    margin-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .content {
    grid-template-rows: 45px 1fr auto;
    grid-template-columns: 300px;
  }
  .left,
  .right {
    padding-left: 25px;
    padding-right: 25px;
  }
  .right {
    padding-top: 29px;
  }
  .tagline {
    flex-flow: row-reverse;
    justify-content: space-between;
    margin-bottom: 22px;
  }
  .tagline p {
    text-align: start;
    width: 210px;
    transform: translateY(-2px);
  }
  .tagline .taglinePic {
    margin-right: 0;
    height: 34px;
  }
  .tagline svg {
    width: 34px;
    height: 34px;
  }
  .tabs {
    margin-bottom: 40px;
  }
  .tabs {
    height: 45px;
  }
  .tab {
    font-size: 17px;
    width: 100%;
    padding: 0 15px;
  }
  .numDishes {
    margin-bottom: 17px;
  }
  .dish {
    width: 122px;
    height: 39px;
    font-size: 14px;
    line-height: 1.2em;
    margin: 0;
  }
  .dish:first-child {
    margin-right: 6px;
    margin-bottom: 16px;
  }
  .dish.hit::after {
    top: 0;
    right: 10px;
    width: 36px;
    height: 20px;
    transform: translateY(-50%);
    border-radius: 7px;
    font-size: 12px;
  }
  .dessert {
    height: 48px;
  }
  .dessert p {
    font-size: 14px;
  }
  .daySwitch .day-full {
    display: block;
  }
  .daySwitch .day-short {
    display: none;
  }
  .menuSampleCont {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas:
      "text"
      "pics"
      "button";
    margin-bottom: 21px;
    place-items: center center;
  }
  .pics__loader {
    height: 155px;
  }
  .pics {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 97px;
    grid-gap: 16px 15px;
    padding-top: 23px;
  }
  .pic {
    min-width: 175px;
    height: 131px;
  }
  .daySwitch {
    width: 220px;
    padding-top: 23px;
  }
  .menuSampleCont .daySwitch {
    place-self: center center;
  }
  .nutrition {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 64px;
    padding: 11px 0;
    box-sizing: border-box;
    line-height: 1.2em;
  }
  .nutrition .text {
    font-weight: bolder;
  }
  .question {
    margin-bottom: 15px;
  }
  .days {
    margin-bottom: 25px;
  }
  .day:first-child,
  .numDays:first-child {
    margin-right: 7px;
  }
  .day,
  .numDays {
    height: 40px;
    font-size: 14px;
  }
  .numDays {
    height: 53px;
  }
  .numDays {
    display: flex;
    flex-flow: column;
  }
  .numDaysSelect {
    margin-bottom: 20px;
  }
  .promo {
    margin-bottom: 23px;
  }
  .paymentMethod,
  .phone {
    font-size: 16px;
  }
  .payment {
    flex-flow: column;
    margin-bottom: 34px;
  }
  .phone {
    margin-bottom: 17px;
    font-size: 16px;
  }
  .button {
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .button button,
  .orderInfo,
  .confidential {
    width: 100%;
  }
  .confidential {
    text-align: center;
    margin: 20px 0 0 0;
  }
}
